@import '~reveal.js/css/reveal.scss';
// see: components/code.js
// @import '~highlight.js/styles/atom-one-light.css';


/**
 * Theme based on black theme for reveal.js.
 */

// Default mixins and settings -----------------
@import '~reveal.js/css/theme/template/mixins';
@import '~reveal.js/css/theme/template/settings';

// ---------------------------------------------
// Colors used in the theme
$blood: #ec1e24;
$black: lighten(#222, 14%);
$green: #7d9b4d;
$blue: DodgerBlue;
$yellow: #ddbD5a;
$orange: #dd5539;


$coal: $black; // #222

$codeBackground: #23241f;
$backgroundColor: white;

$headingTextTransform: none;


// Main text
$mainFont: Arial, Helvetica, 'sans-serif';
$mainColor: $black;

// Headings
$headingFont: 'Arial Narrow', Helvetica, 'sans-serif';
$headingColor: lighten($black, 35%);

$headingTextShadow: 0px 1px 1px $black;

$heading1TextShadow: $headingTextShadow;

// Links
$linkColor: $blood;
$linkColorHover: lighten( $linkColor, 10%);

// Text selection
$selectionBackgroundColor: $blood;
$selectionColor: #fff;



// Theme template ------------------------------
@import '~reveal.js/css/theme/template/theme';

// ---------------------------------------------
@mixin colorfullfragment ($name, $color) {
  &.highlight-#{$name} {
    opacity: 1;
    visibility: inherit;
    &.visible {
      color: $color;
    }
  }
}


.reveal {
  .blood {
    color: $blood !important;
  }

  h1 {
    small {
      display: block;
    }
  }
  section.intro {
    h1 {
      font-size: $heading1Size - 2em;
    }
    img {
      width: 100%;
    }
  //   background: url('./img/risiko.jpg') no-repeat center center fixed;
  //   background-size: cover;
  }

  .svg-star {
    fill: $yellow;
  }


  .code-comparison {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    pre {
      width: 45%;
      font-size: 40%;
      background-color: #232323;
      padding: 1em .5em;
    }
  }

  .slides {
    section {
      .fragment {
        &.highlight-blue.visible {
          color: $blue;
        }
        &.highlight-red.visible {
          color: $blood;
        }
        &.highlight-green.visible {
          color: $green;
        }

        @include colorfullfragment('orange', $orange);
        @include colorfullfragment('yellow', $yellow);

      }
    }
  }

  section {
    img {
      border: 0;
      box-shadow: 5px 5px 20px lighten($black, 50%) ;
    }
  }

  .credits {
    width: 90%;
    display: flex;
    justify-content: space-around;
    p {
      text-align: left;
      font-size: 80%;
    }

  }

}

