@import '~reveal.js/css/reveal.scss';
@import '~highlight.js/styles/railscasts.css';


/**
 * Theme based on black theme for reveal.js.
 */

// Default mixins and settings -----------------
@import '~reveal.js/css/theme/template/mixins';
@import '~reveal.js/css/theme/template/settings';

// ---------------------------------------------
// Colors used in the theme
$blood: #ec1e24;
$black: #000;
$green: #7d9b4d;
$blue: DodgerBlue;
$yellow: #ddbD5a;
$orange: #dd5539;


$coal: $black; // #222
$black: #000;
$codeBackground: #23241f;
$backgroundColor: $coal;

$headingTextTransform: none;


// Main text
$mainFont: Arial, Helvetica, 'sans-serif';
$mainColor: #fff;

// Headings
$headingFont: 'Arial Narrow', Helvetica, 'sans-serif';


$headingTextShadow: 0 1px 1px #222;

// h1 shadow, borrowed humbly from
// (c) Default theme by Hakim El Hattab
$heading1TextShadow: none;
// 0 1px 0 #ccc,
// 0 2px 0 #c9c9c9,
// 0 3px 0 #bbb,
// 0 4px 0 #b9b9b9,
// 0 5px 0 #aaa,
// 0 6px 1px rgba(0, 0, 0, .1),
// 0 0 5px rgba(0, 0, 0, .1),
// 0 1px 3px rgba(0, 0, 0, .3),
// 0 3px 5px rgba(0, 0, 0, .2),
// 0 5px 10px rgba(0, 0, 0, .25),
// 0 20px 20px rgba(0, 0, 0, .15);
// Links
$linkColor: $blood;
$linkColorHover: lighten( $linkColor, 10%);
// Text selection
$selectionBackgroundColor: $blood;
$selectionColor: #fff;



// Theme template ------------------------------
@import '~reveal.js/css/theme/template/theme';

// ---------------------------------------------

@mixin colorfullfragment ($name, $color) {
  &.highlight-#{$name} {
    opacity: 1;
    visibility: inherit;
    &.visible {
      color: $color;
    }
  }
}

.reveal {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    small {
      display: block;
    }
  }

  p {
    font-weight: 300;
    text-shadow: 1px 1px $coal;
    code {
      background-color: $codeBackground;
      display: inline-block;
      border-radius: 7px;
    }
  }
  small code {
    vertical-align: baseline;
  }

  .blood {
    color: $blood !important;
  }

  .svg-star {
    fill: $yellow;
  }


  .slides {
    section {
      .fragment {
        &.highlight-blue.visible {
          color: $blue;
        }
        &.highlight-red.visible {
          color: $blood;
        }
        &.highlight-green.visible {
          color: $green;
        }
        &.highlight-green.visible {
          color: $green;
        }
        @include colorfullfragment(yellow, $yellow);
        @include colorfullfragment(orange, $orange);

      }
    }
  }

  .code-comparison {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    pre {
      width: 45%;
      font-size: 40%;
      background-color: #232323;
      padding: 1em .5em;
    }
  }

}

.plugins {
  position: relative;
  .slide-body {
    z-index: 2;
    position: relative;
  }
  .yin-yang {
    z-index: 1;
    position: relative;
  }
}

.yin-yang {
  svg {
    height: 400px;
    width: 400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .ra {
    fill: $blood;
    right: 200px;
  }
  .empire {
    fill: lighten( $black, 20%);
    left: 200px;
  }


}
